<nav class="fixed top-0 w-full bg-blue-600 text-white shadow-md z-50">
  <div class="container mx-auto flex justify-between items-center p-4">
    <h1 class="lg:text-xl font-bold">My Portfolio</h1>
    <ul class="flex space-x-4 cursor-pointer">
      <li>
        <a routerLink="/" routerLinkActive="font-bold" class="hover:text-gray-200">Home</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="font-bold" class="hover:text-gray-200">About</a>
      </li>
      <li>
        <a routerLink="/projects" routerLinkActive="font-bold" class="hover:text-gray-200">Projects</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="font-bold" class="hover:text-gray-200">Contact</a>
      </li>
    </ul>
  </div>
</nav>
